<%- include('./head.ejs') %>
<footer>
    <div class="contenedor-footer">
        <div class="menu">
            <h2>Menu</h2>
            <a href="#">Inicio</a>
            <a href="#">Por que elegir</a>
            <a href="#">Menu Especial</a>
            <a href="#">Menu Regular</a>
            <a href="#">Chef's especial</a>
        </div>

        <div class='ayuda'>
            <h2>Ayuda</h2>
            <a href="#">Privacidad</a>
            <a href="#">Terminos & Condiciones</a>
            <a href="#">Politica</a>
        </div>

        <div class='contacto'>
            <h2>Contacto</h2>
            <a href="#">+123 456 789</a>
            <a href="#">info@foodied.com</a>
            <a href="#">1234, Buenos Aires, ARG</a>
        </div>

        <div class='suscribite'>
            <h2>Suscribite a</h2>
            <h2>Nuestro Boletin</h2>
            <form action="">
                <input type="email" placeholder='Ingresa tu email' />
                <span><button>Suscribite</button></span>
            </form>
        </div>
    </div>
</footer>
</body>
</html>