<%- include('./head.ejs') %>
<footer id="contactos">
    <div class="contenedor-footer">
        <div class="menu">
            <h2>Menu</h2>
            <a href="#hero">Inicio</a>
            <a href="#eleginos">Por que elegir</a>
            <a href="#menuEspecial">Menu Especial</a>
            <a href="#comidaHabitual">Menu Regular</a>
            <a href="#sobreNosotros">Chef's especial</a>
        </div>

        <div class='ayuda'>
            <h2>Ayuda</h2>
            <a href="#">Privacidad</a>
            <a href="#">Terminos & Condiciones</a>
            <a href="#">Politica</a>
        </div>

        <div class='contacto'>
            <h2>Contacto</h2>
            <a href="#">+123 456 789</a>
            <a href="#">info@foodied.com</a>
            <a href="#">1234, Buenos Aires, ARG</a>
        </div>

        <div class='suscribite'>
            <h2>Suscribite a</h2>
            <h2>Nuestro Boletin</h2>
            <form action="">
                <input type="email" placeholder='Ingresa tu email' />
                <span><button>Suscribite</button></span>
            </form>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/header.js"></script>
<script src="/js/swiper.js"></script>
</body>
</html>