<main>
    <!-- HERO -->
    <section class="hero">
        <span class="circulo-verde-der"></span>
        <span class="circulo-verde-izq"></span>
        <img class="planta-hero" src="Planta-Header.png" alt="">
        <div class="contenedor-hero">
            <div class="textos-hero">
                <button class="btn-hero-pregunta">Hambriento?</button>
                <h1>SOLO VEN A FOODIED & ORDENA</h1>
                <p>Aquí encontrarás comida pura y de la mejor calidad. Ordene ahora para satisfacer su hambre</p>
                <div class="btns-hero">
                    <button class="btn-hero-izq">Ordena Ahora</button>
                    <button class="btn-hero-der">Explorar Mas <span><i class="bi bi-arrow-right"></i></span></button>
                </div>
            </div>
            <div class="imagenes-hero">
                <img class="hero-comida-principal" src="Hero-Principal.png" alt="">
                <img class="hero-comida-pequeña panqueque" src="Panqueques.png" alt="">
                <img class="hero-comida-pequeña pancakes" src="Pancakes.png" alt="">
                <img class="hero-comida-pequeña pescado" src="Pescado.jpg" alt="">
                <img class="hero-comida-pequeña vegetales" src="Arroz.jpg" alt="">
                <img class="hero-comida-pequeña arroz" src="Vegetales.png" alt="">
            </div>
        </div>
    </section>
    <!-- FIN HERO -->