<%- include('../partials/head.ejs') -%>
<section class='chefs'>
    <div class="contenedor-chefs">
        <div class="texto-chefs">
            <h2>NUESTROS CHEF'S ESPECIALES</h2>
            <p>A continuación se presentan algunos de nuestros chefs especiales que trabajan para preparar sus comidas.</p>
        </div>
        <div class="chefs-img">
            <img class="uno" src="/chef1.png"alt=""/>
            <img class="dos" src="/chef2.png"alt=""/>
            <img class="tres" src="/chef3.png" alt=""/>
        </div>
    </div>
</section>