<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Hojas de estilo/compra.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>FOODIED</title>
</head>
<body>
    <main> 
        <section>
            <h1 class="nombre">FOODIED</h1>
            <div class="contenedor-mensaje">
                <div class="verificado">
                    <div class="recuadro">
                    <img src="/imagenes/icons8-aprobado (1).svg" alt="">
                    <h1 class="titulo">Compra Realizada con exito!</h1>
                </div>
                </div>
                <div class="gracias">
                <h2>Tu producto se esta preparando en muy poco tiempo sera enviado.</h2>
                <h2>Gracias por confiar en Foodied.</h2>
                <a class="volver-inicio" href="/">Volver al Inicio</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>