<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>Foodie</title>
</head>
<body>
    <section class="ingreso">
        <div class="img">
            <div>
                <h1 class="logo">FOODIED</h1>
            </div>
                <img class="ensa" src="ensalada.jpg" alt="">
        </div>
        <div class="partedos">
            <div class="iniciar">
                <h1>Iniciar Sesion</h1>
            </div>
            <div class="formulario">
                <form for="" method="post">
                    <div class="persona">
                        <img class="imagen" src="icons8-persona-24.png" alt="">
                        <input class="email" name="usuario" type="text" required  placeholder="Nombre de Usuario">
                    </div>
                    <div class="persona">
                        <img class="imagen" src="icons8-candado.svg" alt="">
                        <input class="email" name="password" type="password" maxlength="12" required  placeholder="Contraseña">
                    </div>
                    <button class="btn-form">Iniciar sesion </button>
                </form>
            </div>
            <div class="regi">
                <p class="preg">No tenes una cuenta?</p>
                <a href="/signup">Registrate</a>
                <span style="margin: 0px 0px 0px 8px;">/</span>
                <a href="/">Volver al Inicio</a>
            </div>
        </div>
    </section>
</body>
</html>