<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagenes/Hero/Hero-Principal.png" type="image/x-icon">
    <!-- Links Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Link Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/Hojas de estilo/registro.css">
    <title>FOODIED</title>
</head>
<body>
    <section class="ingreso">
        <div class="img">
            <div>
                <h1 class="logo">FOODIED</h1>
            </div>
                <img class="ensa" src="/imagenes/Registro/ensalada.jpg" alt="">
        </div>
        <div class="partedos">
            <div class="iniciar">
                <h1>Iniciar Sesion</h1>
            </div>
            <div class="formulario">

                    <div class="opcio">
                        <div class="google">    
                            <a class="google-enlace" href="/auth/google"><i class="bi bi-google"></i>Google</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="regi">
                <p class="preg">No tenes una cuenta?</p>
                <a href="/auth/signup">Registrate</a>
                <span style="margin: 0px 0px 0px 8px;">/</span>
                <a href="/">Volver al Inicio</a>
            </div>
        </div>
    </section>
</body>
</html>