
    <header id="header">
        <div class="contenedor-header">
            <a class="empresa" href="#">FOODIED</a>
            <nav>
                <a href="/">Inicio</a>
                <a href="#">Menu</a>
                <a href="#">Sobre Nosotros</a>
                <a href="#">Contacto</a>
            </nav>
            <div class="header-derecha">
                <div class="header-iconos">
                    <a href="#"><i class="bi bi-search"></i></a>
                    <a href="#"><i class="bi bi-bag"></i></a>
                </div>
                <div class="registrarse">
                    <a href="/signup">Registarse</a>
                </div>
            </div>
        </div>
    </header>
<script src="header.js"></script>