<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./header.css">
    <title></title>
</head>
<body>
    <header id="header">
        <div class="contenedor-header">
            <a class="empresa" href="#">FOODIED</a>
            <nav>
                <a href="/home">Inicio</a>
                <a href="#">Menu</a>
                <a href="#">Sobre Nosotros</a>
                <a href="#">Contacto</a>
            </nav>
            <div class="header-derecha">
                <div class="header-iconos">
                    <a href="#"><i class="bi bi-search"></i></a>
                    <a href="#"><i class="bi bi-bag"></i></a>
                </div>
                <div class="registrarse">
                    <a href="/signup">Registarse</a>
                </div>
            </div>
        </div>
    </header>
<script src="header.js"></script>