/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/* VARIABLES */
:root{
    --verde--oscuro: rgb(132,183,78);
    --verde-claro:rgb(164,200,120);
    --verde-muy-claro:rgb(229,241,217);
    --negro: #010101;
    --blanco: rgb(249,250,252);
    --gris:rgb(139, 143, 144);
}
/* SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    color: var(--negro);
    overflow-x: hidden;
    background-color: var(--blanco);
}
a{
    text-decoration: none;
    color: var(--negro);
}
/*====== HEADER========= */
header{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;
}
nav{
    display: flex;
    align-items: center;
    gap: 6rem;
}
nav a{
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 200ms ease;
}
nav a:hover{
    color: var(--verde-claro);
}
nav a:focus{
    color: var(--verde-claro);
}
.contenedor-header{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0rem;
}
.empresa{
    font-size: 2rem;
    font-weight: 700;
}
.header-derecha{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.header-iconos a{
    font-size: 1.2rem;
    margin-left: 0.8rem;
    background-color: var(--blanco);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    transition: all 200ms ease;
}
.header-iconos a:hover{
    color: var(--verde-claro);
}
.bag{
    position: relative;
}
.circulo-rojo{
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: red;
    top: 2.2rem;
    right: 26.5rem;
}
.header-iconos button{
    font-size: 1.2rem;
    margin-left: 0.8rem;
    background-color: var(--blanco);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    border: none;
    transition: all 200ms ease;
    position: relative;
}
.header-iconos button:hover{
    color: var(--verde-claro);
}
.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 13rem;
    text-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
    background-color: var(--blanco);
    padding: 0.7rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 200ms ease;
    margin: 0;
}
.perfil img{
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
}
.perfil a:hover{
    color: var(--verde-claro);
}

.registrarse a{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
    background-color: var(--blanco);
    padding: 0.7rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 200ms ease;
}
.registrarse a:hover{
    color: var(--verde-claro);
}

/* MEDIA QUERIES HEADER */
@media (max-width:1470px) {
    nav{
        gap: 5rem;
    }
}
@media (max-width:1400px) {
    nav{
        gap: 4rem;
    }
}
@media (max-width:1300px) {
    nav{
        gap: 3rem;
    }
    .empresa{
        font-size: 1.7rem;
    }
    .registrarse a{
        font-size: 1.1rem;
        padding: 0.7rem 0.9rem;
    }
    .header-iconos a{
        font-size: 1.2rem;
        padding: 0.5rem 0.6rem;
    }
}
@media (max-width:1200px) {
    nav{
        gap: 2.5rem;
    }
    nav a{
        font-size: 0.9rem;
    }
    .empresa{
        font-size: 1.5rem;
    }
    .registrarse a{
        font-size: 0.9rem;
    }
    .header-iconos a{
        font-size: 1rem;
    }
}
/* FIN MEDIA QUERIES HEADER */
/*==== FIN HEADER======= */

/*=========== HERO========== */
.hero{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: url(../imagenes/Hero/Fondo\ del\ Hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px -50px 0px 0px;
}
.circulo-verde-der{
    width: 90rem;
    height: 65rem;
    background-color: var(--verde--oscuro);
    border-radius: 50%;
    position: absolute;
    bottom: 26rem;
    left: 45rem;
}
.circulo-verde-izq{
    width: 55rem;
    height: 45rem;
    background-color: var(--verde--oscuro);
    border-radius: 50%;
    position: absolute;
    bottom: 15rem;
    left: 89rem;
}

.planta-hero{
    position: absolute;
    top: -0.3rem;
    left: 0;
}
.contenedor-hero{
    width: 85vw;
    height: 85vh;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.textos-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.btn-hero-pregunta{
    background-color: transparent;
    border: 1px solid var(--negro);
    border-radius: 25px;
    padding: 0.6rem 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 250ms ease;
}
.btn-hero-pregunta:hover{
    background-color: var(--negro);
    color: var(--blanco);
}
.textos-hero h1{
    font-size: 5rem;
    font-weight: 900;
    width: 90%;
    letter-spacing: 3px;
    line-height: 6rem;
    z-index: 10;
}
.textos-hero p{
    color: var(--gris);
    font-weight: 400;
    font-size: 1.2rem;
    width: 55%;
}
.btns-hero{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn-hero-izq{
    background-color: var(--verde--oscuro);
    border: 1px solid var(--verde--oscuro);
    padding: 1.4rem 2.8rem;
    color: white;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 250ms ease;
}
.btn-hero-izq:hover{
    background-color: var(--blanco);
    color: var(--verde--oscuro);

}
.btn-hero-der{
    background-color: transparent;
    border: 1px solid var(--negro);
    padding: 1.4rem 2.2rem;
    color: var(--negro);
    font-size: 1.2rem;
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    transition: all 250ms ease;
}
.btn-hero-der span{
    position: relative;
    top: 0.1rem;
}
.btn-hero-der:hover{
    background-color: var(--negro);
    color: var(--blanco);
}
.imagenes-hero{
    position: relative;
    margin-right: 6rem;
    z-index: 5;
}
.hero-comida-principal{
    width: 30rem;
    border-radius: 50%;
    border: 2.3rem solid var(--verde-claro);
    animation: girar infinite 40s linear;
}
.hero-comida-pequeña{
    position: absolute;
    width: 5.2rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.4rem solid rgb(205,182,182);
}
.panqueque{
    border: 0.4rem solid rgb(205,182,182);
    top: 21rem;
    left: 34.5rem;
}
.pancakes{
    border: 0.4rem solid rgb(217,198,154);
    top: 30rem;
    left: 30rem;
}
.pescado{
    border: 0.4rem solid rgb(182,181,182);
    top: 35rem;
    left: 14rem;
}
.vegetales{
    border: 0.4rem solid rgb(237,173,131);
    top: 30rem;
    left: 0rem;
}
.arroz{
    border: 0.4rem solid rgb(203,210,218);
    top: 21rem;
    left: -7rem;
}
@keyframes girar{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* ===== HERO SWIPER===== */
.swiper-hero{
    width: 85vw; 
    height: 1000px;
}
.swiper-slide-hero{
    display: flex; 
    align-items: center; 
}
.swiper-button-prev,
.swiper-button-next{
    color: #010101;
    background-color: #aed882;
    border-radius: 50%;
    padding: 1rem 1.4rem;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: white;
}
/* ======FIN HERO SWIPER======= */

/* HERO */
@media (max-width:1900px) {
    .textos-hero h1{
        font-size: 4.8rem;
    }
}
@media (max-width:1850px) {
    .textos-hero h1{
        font-size: 4.7rem;
    }
}
@media (max-width:1800px) {
    .textos-hero h1{
        font-size: 4.2rem;
        width: 85%;
    }

}
@media (max-width:1750px) {
    .textos-hero h1{
        font-size: 3.6rem;
        width: 85%;
        line-height: 5rem;
    }
}
@media (max-width:1650px) {
    .textos-hero h1{
        font-size: 3.3rem;
        width: 80%;
    }
    .hero-comida-principal{
        width: 27rem;
    }
    .hero-comida-pequeña{
        position: absolute;
        width: 5rem;
        height: 4.8rem;
    }
    .panqueque{
        top: 21rem;
        left: 31rem;
    }
    .pancakes{
        top: 30rem;
        left: 26rem;
    }
    .pescado{
        top: 33rem;
        left: 13rem;
    }
    .vegetales{
        top: 29rem;
        left: 0rem;
    }
    .arroz{
        top: 21rem;
        left: -6rem;
    }
}
@media (max-width:1600px) {
    .textos-hero h1{
        font-size: 3.5rem;
        width: 100%;
    }
    .panqueque{
        top: 21rem;
        left: 31rem;
    }
    .pancakes{
        top: 28rem;
        left: 25rem;
    }
    .pescado{
        top: 32rem;
        left: 13rem;
    }
    .vegetales{
        top: 28rem;
        left: 1rem;
    }
    .arroz{
        top: 21rem;
        left: -5rem;
    }
    .contenedor-opciones{
        gap: 2rem;
    }
    .tarjeta img{
        width: 12rem;
        bottom: 14rem;
        left: 2rem;
    }
}
@media (max-width:1565px) {
    .textos-hero p{
        width: 65%;
    }
}
@media (max-width:1444px) {
    .textos-hero p{
        width: 75%;
    }
    .textos-hero h1{
        width: 90%;
    }
    .hero-comida-principal{
        width: 25rem;
        border: 1.8rem solid var(--verde-claro);
    }
    .panqueque{
        top: 19rem;
        left: 27.5rem;
    }
    .pancakes{
        top: 27rem;
        left: 21rem;
    }
    .pescado{
        top: 30rem;
        left: 10rem;
    }
    .vegetales{
        top: 27rem;
        left: 0rem;
    }
    .arroz{
        top: 19rem;
        left: -5rem;
    }
}
@media (max-width:1400px) {
    .textos-hero p{
        font-size: 1.1rem;
        width: 75%;
    }
    .textos-hero h1{
        font-size: 3.2rem;
        width: 90%;
    }
    .hero-comida-principal{
        width: 24rem;
        border: 1.8rem solid var(--verde-claro);
    }
    .btn-hero-izq{
        padding: 1.4rem 2.6rem;
    }
    .btn-hero-der{
        padding: 1.4rem 2rem;
    }
}


/*====== FIN HERO======== */

/*========== SECCION OPCIONES========= */
.seccion-opciones{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10rem 0rem 2rem;
}
.contenedor-opciones{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tarjeta{
    background-color: white;
    border-radius: 25px;
    width: 23rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgb(209, 205, 205);
    cursor: pointer;
}
.tarjeta-producto{
    transition: all 250ms;
    cursor: pointer;
}
.tarjeta-producto:hover{
    box-shadow: 0px 0px 10px var(--verde--oscuro);
}
.tarjeta img{
    width: 14rem;
    border-radius: 50%;
    border: 0.9rem solid var(--verde--oscuro);
    position: absolute;
    bottom: 15rem;
    left: 3.8rem;
}
.tarjeta-textos{
    padding: 9rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
}
.tarjeta-textos h2{
    font-size: 1.7rem;
    width: 80%;
}
.tarjeta-textos p{
    color: var(--gris);
    width: 85%;
    margin-top: 0.5;
}
.opciones-comprar{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.opciones-comprar p{
    border: 1px solid var(--negro);
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: var(--negro);
}
.opciones-comprar a{
    border: 1px solid var(--verde--oscuro);
    border-radius: 20px;
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--verde--oscuro);
    color: var(--blanco);
    cursor: pointer;
    transition: all 250ms ease;
}
.opciones-comprar a:hover{
    border: 1px solid var(--verde--oscuro);
    background-color: var(--blanco);
    color: var(--verde--oscuro);
    cursor: pointer;
}
.opciones-comprar button{
    border: 1px solid var(--verde--oscuro);
    border-radius: 20px;
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--verde--oscuro);
    color: var(--blanco);
    cursor: pointer;
    transition: all 250ms ease;
}
.opciones-comprar button:hover{
    border: 1px solid var(--verde--oscuro);
    background-color: var(--blanco);
    color: var(--verde--oscuro);
    cursor: pointer;
}

/* MEDIA QUERIES OPCIONES */
@media (max-width:1750px) {
    .tarjeta{
        width: 21rem;
        height: 22rem;
    }
    .tarjeta img{
        width: 12rem;
        bottom: 16.5rem;
        left: 3.7rem;
    }
    .tarjeta-textos{
        padding: 7rem 0rem 2rem 0rem;
    }
}
@media (max-width:1650px) {
    .tarjeta{
        width: 20.4rem;
        height: 22rem;
    }
    .tarjeta img{
        width: 12rem;
        bottom: 16.5rem;
        left: 3.3rem;
    }
}
@media (max-width:1550px) {
    .tarjeta{
        width: 20.4rem;
        height: 22rem;
    }
    .tarjeta img{
        width: 12rem;
        bottom: 16.5rem;
        left: 2.7rem;
    }
}
@media (max-width:1500px) {
    .tarjeta{
        width: 20.4rem;
        height: 20rem;
    }
    .tarjeta img{
        width: 11rem;
        bottom: 15rem;
        left: 2.9rem;
        border: 0.7rem solid var(--verde--oscuro);
    }
    .opciones-comprar p{
        font-size: 1rem;
    }
    .tarjeta-textos h2{
        font-size: 1.5rem;
        width: 90%;
    }
    .tarjeta-textos p{
        font-size: 0.9rem;
    }
}
/* FIN MEDIA QUERIES OPCIONES */


/*======= FIN SECCION OPCIONES=========== */

/* ===========ELEGIRNOS=============== */
.elegirnos{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 6rem 0rem;
}
.contenedor-elegirnos{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-elegirnos h1{
    font-size: 3.5rem;
    text-align: center;
}
.motivos{
    display: flex;
    width: 85vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.textos-elegirnos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.textos-elegirnos p{
    text-align: center;
    font-size: 1.3rem;
    color: gray;
    width: 70%;
}
.motivo{
    width: 32rem;
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 11px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    font-family: 'Lato', sans-serif;
    transition: all 300ms;
}
.motivo:hover{
    transform: scale(1.12);
    transition: 400ms;
}
.motivo img{
    width: 5rem;
    height: 5rem;
    padding-bottom: 2rem;
}
.motivo h2{
    font-size: 2.3rem;
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0;
}

.motivo p{
    text-align: center;
    color: gray;
    font-size: 1.2rem;
    padding-top: 1.2em;
    width: 90%;
}

.letp2{
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    width: 17.5em;
    padding-top: 1.2em;
}

/* MEDIA QUERIES ELEGINOS */
@media (max-width:1850px) {
    .motivo{
        width: 31rem;
        height: 20rem;
    }
}
@media (max-width: 1800px) {
    .motivo{
        width: 30rem;
        height: 18rem;
    }
    .motivo img{
        width: 4rem;
        height: 4rem;
    }
    .motivo h2{
        font-size: 2.1rem;
    }
    .motivo p{
        font-size: 1.1rem;
        width: 90%;
    }
}
@media (max-width: 1720px) {
    .motivo{
        width: 29rem;
        height: 18rem;
    }
    .motivo img{
        width: 4rem;
        height: 4rem;
    }
    .motivo h2{
        font-size: 2.1rem;
    }
    .motivo p{
        font-size: 1.1rem;
        width: 90%;
    }
}
@media (max-width: 1680px) {
    .motivo{
        width: 26rem;
        height: 18rem;
    }
    .motivo img{
        width: 4rem;
        height: 4rem;
    }
    .motivo h2{
        font-size: 2.1rem;
    }
    .motivo p{
        font-size: 1.1rem;
        width: 90%;
    }
}
@media (max-width: 1500px) {
    .motivo{
        width: 24rem;
        height: 17rem;
    }
    .motivo img{
        width: 3.5rem;
        height: 3.5rem;
    }
    .motivo h2{
        font-size: 2.1rem;
    }
    .motivo p{
        font-size: 1.1rem;
        width: 90%;
    }
}
/* FIN MEDIA QUERIES ELEGINOS */

/* ===========FIN ELEGIRNOS=============== */

/* =======COMIDA ESPECIAL====== */
.comida-especial{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 6rem 0rem 4rem;
}
.comida-especial-contenedor{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.especiales{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    max-width: 85vw;
    padding: 0rem 3rem 0rem 0rem;
}
.textos-especial{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.textos-especial h1{
    font-size: 3.5rem;
}
.textos-especial p{
    text-align: center;
    font-size: 1.3rem;
    color: gray;
    width: 60%;
}
.especial{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    width: 28rem;
    height: 30rem;
    border-radius:10px;
    margin-top: 7rem;
    position: relative;
    padding-left: 1.5rem;
    background-color: rgb(242,243,245);
    transition: all 250ms;
}
.especial:hover{
    box-shadow: 0px 0px 10px #84B74E; 
}
.comida{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #84B74E;
    padding: 1rem;
    position: absolute;
    top: -7rem;
    left: 12rem;
    z-index: 10;
    object-fit: cover;
}
.especial h2{
    font-size: 2.9rem;
    letter-spacing: 1px;
    font-weight: 900;
    margin: 0;
    position: absolute;
    bottom: 10rem;
}

.estrellas{
    position: absolute;
    top: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.6rem;
    background-color: transparent;
}
.estrellas img{
    width: 2.1rem;
    height: 2.1rem;
}

.num{
    color: gray;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 0.5rem;
}
.precio{
    position: absolute;
    top: 24rem;
    font-weight: bold;
    color: #84B74E;
    font-size: 3rem;
    letter-spacing: 0.5px;
}

.bolsa{
    background-color: #84B74E;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    padding: 3rem 2.5rem;
    border-radius:8px;
    cursor: pointer;
    transition: all 250ms;
}
.bolsa:hover{
    background-color: #aed882;
}
.slide{
    display: flex;
    gap: 2.5rem;
}
.slide span{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--verde-claro);
    cursor: pointer;
    transition: all 250ms;
}
span:hover{
    background-color: var(--verde--oscuro);
}

/* ===== COMIDA ESPECIAL SWIPER====  */
.swiper-especial{
    width: 90vw;
}
.swiper-wrapper-especial{
    margin-bottom: 5rem;
}
.swiper-slide-especial{
    display: flex; 
    justify-content: space-between; 
    padding-left: 0.3rem;
}
.swiper-pagination span{
    background-color: #84B74E;
    width: 1.5rem;
    height: 1.5rem;
}
.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/* ===== FIN COMIDA ESPECIAL SWIPER====  */

/* MEDIA QUERIES ESPECIAL */
@media (max-width: 1750px) {
    .especial{
        width: 26rem;
        height: 29rem;
    }
    .comida{
        width: 15.5rem;
        height: 15.5rem;
    }
    .estrellas img{
        width: 2rem;
        height: 2rem;
    }
    .especial h2{
        font-size: 2.3rem;
        width: 85%;
    }
    .bolsa{
        padding: 2.5rem 2rem;
    }
    .precio{
        top: 23rem;
    }
    .estrellas{
    top: 19.5rem;
    }
}
@media (max-width: 1650px) {
    .especial{
        width: 25rem;
        height: 27rem;
    }
    .comida{
        width: 15rem;
        height: 15rem;
    }
    .estrellas img{
        width: 1.8rem;
        height: 1.8rem;
    }
    .especial h2{
        font-size: 2.2rem;
        width: 85%;
    }
    .bolsa{
        padding: 2.5rem 2rem;
    }
    .precio{
        top: 23rem;
    }
    .estrellas{
    top: 19.5rem;
    }
}
@media (max-width: 1500px) {
    .especial{
        width: 21rem;
        height: 23rem;
    }
    .comida{
        width: 14rem;
        height: 14rem;
        padding: 0.7rem;
        top: -7rem;
        left: 9rem;
    }
    .estrellas img{
        width: 1.4rem;
        height: 1.4rem;
    }
    .especial h2{
        font-size: 2rem;
        width: 85%;
    }
    .bolsa{
        padding: 2.5rem 2rem;
    }
    .precio{
        top: 18rem;
    }
    .estrellas{
    top: 16rem;
    }
}
/* FIN MEDIA QUERIES ESPECIAL */


/* ======= FIN COMIDA ESPECIAL====== */

/* ========= COMIDA HABITUAL ============= */
.comida-habitual{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0rem 0rem 2rem;
}
.contenedor-comida-habitual{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 8rem;
    padding: 1rem 0rem 2rem;
}
.comidas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 1rem;
}

.titulos-habitual{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0rem -4rem ;
}
.titulos-habitual h1{
    font-size: 3.5rem;
}
.titulos-habitual p{
    font-size: 1.3rem;
    width: 65%;
    color: grey;
    text-align: center;
    margin-top: 1rem;
}
.tarjeta-habitual{
    background-color: white;
    border-radius: 25px;
    width: 30rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgb(209, 205, 205);
    margin-top: 9.5rem;
    transition: all 250ms;
}
.tarjeta-habitual:hover{
    box-shadow: 0px 0px 10px var(--verde--oscuro);
}
.tarjeta-habitual-img{
    width: 18.5rem;
    border-radius: 50%;
    border: 0.9rem solid var(--verde--oscuro);
    position: absolute;
    bottom: 19rem;
    left: 5rem;
}
.tarjeta-textos-habitual{
    padding: 9rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tarjeta-textos-habitual h2{
    font-size: 2rem;
    width: 80%;
    margin: 0rem;
}
.tarjeta-textos-habitual p{
    color: var(--gris);
    width: 80%;
    font-size: 1.2rem;
}
.habitual-precio p{
    font-size: 1.2rem;
}
.opciones-comprar-habitual{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}
.opciones-comprar-habitual p{
    border: 1px solid var(--negro);
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: var(--negro);
    user-select: none;
}
.opciones-comprar-habitual a{
    border: 1px solid var(--verde--oscuro);
    border-radius: 20px;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--verde--oscuro);
    color: var(--blanco);
    cursor: pointer;
    transition: all 250ms ease;
}
.opciones-comprar-habitual a:hover{
    border: 1px solid var(--verde--oscuro);
    background-color: var(--blanco);
    color: var(--verde--oscuro);
    cursor: pointer;
}
.estrellasHabitual{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0rem;
}
.estrellasHabitual img{
    width: 1.8rem;
    height: 1.8rem;
}
.opciones-comprar-habitual button{
    border: 1px solid var(--verde--oscuro);
    border-radius: 20px;
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--verde--oscuro);
    color: var(--blanco);
    cursor: pointer;
    transition: all 250ms ease;
}
.opciones-comprar-habitual button:hover{
    border: 1px solid var(--verde--oscuro);
    background-color: var(--blanco);
    color: var(--verde--oscuro);
    cursor: pointer;
}

/* ===== COMIDA HABITUAL SWIPER===== */
.swiper-habitual{
    width: 85vw; 
    display: flex;
    justify-content: center; 
    margin: 0 auto;
}
.swiper-wrapper-habitual{
    margin-bottom: 5rem;
}
.swiper-slide-habitual{
    display: flex; 
    justify-content:center; 
    flex-wrap: wrap; 
    gap: 5rem; 
    padding-top: 2.9rem;
}
.slide-habitual{
    display: flex;
    gap: 2.5rem;
}
.slide-habitual span{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--verde-claro);
    cursor: pointer;
    transition: all 250ms;
    margin-top: -2.6rem;
}
/* ===== FIN COMIDA HABITUAL SWIPER===== */

/* MEDIA QUERIES HABITUAL */
@media (max-width:1750px) {
    .tarjeta-habitual{
        width: 26rem;
        height: 27rem;
    }
    .tarjeta-habitual-img{
        width: 15.5rem;
        bottom: 21rem;
        left: 5rem;
    }
    .tarjeta-textos-habitual h2{
        font-size: 1.8rem;
        width: 90%;
    }
    .tarjeta-textos-habitual p{
        width: 90%;
        font-size: 1rem;
    }
    .opciones-comprar-habitual p{
        font-size: 1.3rem;
    }
}
@media (max-width:1650px) {
    .tarjeta-habitual{
        width: 24rem;
        height: 27rem;
    }
    .tarjeta-habitual-img{
        width: 15rem;
        bottom: 21rem;
        left: 4rem;
    }
    .tarjeta-textos-habitual h2{
        font-size: 1.8rem;
        width: 90%;
    }
    .tarjeta-textos-habitual p{
        width: 90%;
        font-size: 1rem;
    }
    .opciones-comprar-habitual p{
        font-size: 1.3rem;
    }
}
@media (max-width:1550px) {
    .tarjeta-habitual{
        width: 23rem;
        height: 27rem;
    }
    .tarjeta-habitual-img{
        width: 15rem;
        bottom: 21rem;
        left: 4rem;
    }
    .tarjeta-textos-habitual h2{
        font-size: 1.8rem;
        width: 90%;
    }
    .tarjeta-textos-habitual p{
        width: 90%;
        font-size: 1rem;
    }
    .opciones-comprar-habitual p{
        font-size: 1.3rem;
    }
}
@media (max-width:1500px) {
    .tarjeta-habitual{
        width: 21.5rem;
        height: 26rem;
    }
    .tarjeta-habitual-img{
        width: 14rem;
        bottom: 20rem;
        left: 3rem;
    }
    .tarjeta-textos-habitual h2{
        font-size: 1.8rem;
        width: 90%;
    }
    .tarjeta-textos-habitual p{
        width: 90%;
        font-size: 1rem;
    }
    .opciones-comprar-habitual p{
        font-size: 1.3rem;
    }
}
@media (max-width:1400px) {
    .tarjeta-habitual{
        width: 20rem;
        height: 26rem;
    }
    .tarjeta-habitual-img{
        width: 13rem;
        bottom: 19rem;
        left: 3rem;
    }
    .tarjeta-textos-habitual h2{
        font-size: 1.6rem;
        width: 90%;
    }
    .tarjeta-textos-habitual p{
        width: 90%;
        font-size: 0.9rem;
    }
    .opciones-comprar-habitual p{
        font-size: 1.3rem;
    }
}

/* FIN MEDIA QUERIES HABITUAL */


/* ========= FIN COMIDA HABITUAL ============= */

/* ===== SOBRE NOSOTROS ======== */
.chefs{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    margin: 0 auto;
}
.contenedor-chefs{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.texto-chefs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.texto-chefs h2{
    margin-top: 1rem;
    margin: 0;
    font-size: 3rem;
}
.texto-chefs p{
    color: gray;
    width: 70%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.chefs-img{
    margin: 3rem 0rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.uno{
    background-color: #E5F1D9;
    width: 24rem;
    height: 30rem;
    border-radius: 10px;
    padding-top: 1.5rem;
}
.dos{
    background-color: #E5F1D9;
    width: 20rem;
    height: 33rem;
    border-radius: 10px;
    padding: 1rem 2rem 0rem 2rem;
    margin: 5rem 4rem 0rem;
}

.tres{
    background-color: #E5F1D9;
    width: 24rem;
    height: 32rem;
    border-radius: 10px;
    padding-right: 1rem;
}

/* MEDIA QUERIES NOSOTROS */
@media (max-width:1750px) {
    .chefs-img{
        gap: 5.6rem;
    }
    .uno{
        width: 23rem;
        height: 29rem;
    }
    .dos{
        width: 20rem;
        height: 33rem;
    }
    
    .tres{
        width: 23.2rem;
        height: 33rem;
    }
}
@media (max-width:1650px) {
    .chefs-img{
        gap: 4rem;
    }
    .uno{
        width: 21.6rem;
        height: 28rem;
    }
    .dos{
        width: 20rem;
        height: 33rem;
    }
    
    .tres{
        width: 22rem;
        height: 32rem;
    }
}
@media (max-width:1500px) {
    .chefs-img{
        gap: 3.4rem;
    }
    .uno{
        width: 19rem;
        height: 26rem;
    }
    .dos{
        width: 18rem;
        height: 29rem;
    }
    
    .tres{
        width: 19rem;
        height: 27.5rem;
    }
}
@media (max-width:1400px) {
    .chefs-img{
        gap: 2.5rem;
    }
}

/* FIN  MEDIA QUERIES NOSOTROS */

/* ===== FIN SOBRE NOSOTROS ======== */


/* ======= FOOTER========= */
footer{
    width: 100vw;
    background-color: rgb(229,241,217);
    display: flex;
    justify-content: center;
    padding: 4rem 0rem;
    margin: 0 auto;
}
.contenedor-footer{
    width: 85vw;
    display: flex;
    justify-content: space-between;
}
footer h2{
    font-size: 2.5rem;
    margin: 0;
}
footer a{
    font-size: 1.5rem;
    padding-left: 0rem;
    color: grey;
    transition: all 250ms;
}
footer a:hover{
    color: black;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.5rem;
}
.ayuda{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.5rem;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.5rem;
}
.suscribite{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.5rem;
    margin-top: 0.5rem;
}
.suscribite h2{
    line-height: 2rem;
}
.suscribite input{
    position: relative;
    background-color: transparent;
    border: 2px solid rgb(132,183,78);
    border-radius: 10px;
    padding: 1.1rem 0.8rem 1rem;
    width: 32rem;
    font-size: 1.6rem;
    color: grey;
    outline: none;
}
.suscribite input::placeholder{
    font-size: 1.6rem;
    color: grey;
}

.suscribite button{
    background-color: rgb(132,183,78);
    border: 2px solid rgb(132,183,78);
    font-size: 1.3rem;
    color: white;
    padding: 1.19rem 2rem;
    border-radius: 10px;
    position: absolute;
    right: 8.33rem;
    cursor: pointer;
    transition: all 250ms;
}
.suscribite button:hover{
    background-color: transparent;
    border: 2px solid rgb(132,183,78);
    color: rgb(132,183,78);
}

/* MEDIA QUERIES FOOTER */
@media (min-width:1800px) {
    .suscribite button{
        right: 9rem;
    }
}
@media (max-width:1750px) {
    .suscribite button{
        right: 8rem;
    }
}
@media (max-width:1650px) {
    footer h2{
        font-size: 2.1rem;
    }
    footer a{
        font-size: 1.3rem;
    }
    .suscribite button{
        right: 6.5rem;
    }
}
@media (max-width:1550px) {
    footer h2{
        font-size: 2.1rem;
    }
    footer a{
        font-size: 1.3rem;
    }
    .suscribite button{
        right: 6rem;
    }
}
@media (max-width:1450px) {
    footer h2{
        font-size: 1.9rem;
    }
    footer a{
        font-size: 1.1rem;
    }
    .suscribite button{
        right: 6rem;
    }
    .suscribite input{
        width: 27rem;
    }
}
@media (max-width:1400px) {
    .suscribite button{
        right: 6.5rem;
    }
    .suscribite input{
        padding: 1rem 0.8rem 1rem;
    }
}


/* FIN MEDIA QUERIES FOOTER */

/* ====== FIN FOOTER========= */


/* ======= SHOP =========== */
.shop{
    display: flex;
    width: 85vw;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.shop h1{
    color: #010101;
    font-size: 3.5rem;
    margin: 6rem 0rem 0rem 0rem;

}
.titulos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    margin: 0;
}
.titulos a{
    font-size: 1.4rem;
    color: grey;
    text-align: center;
    margin-bottom: -1rem;
    text-wrap: nowrap;
}
.titulos a:hover{
    color: rgb(132,183,78);
}
.titulos a:hover{
    color: rgb(132,183,78);
}
.comidas-shop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.tarjeta-shop{
    margin-top: 6rem;
    background-color: white;
    border-radius: 25px;
    width: 23rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgb(209, 205, 205);
}
.tarjeta-shop img{
    width: 14rem;
    border-radius: 50%;
    border: 0.9rem solid var(--verde--oscuro);
    position: absolute;
    bottom: 15rem;
    left: 3.8rem;
}
/* ======= FIN SHOP =========== */



/*==== SIGN-UP - LOG-IN====== */
.ingreso {
    display: flex;
}
.logo{
    padding-bottom: 1em;
    font-size: 5rem;
    background-color: #E5F1D9;
    font-family: 'Oswald', sans-serif;
}
.img{
    background-color: #E5F1D9;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ensa{
    width: 24em;
    height: 24em;
    background-color: transparent;
    border: 15px solid #83B64D;
    border-radius: 670px;
}
.partedos{
    width: 60%;
}
.iniciar{
    padding: 4.5em 0em 1em;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    background-color: #F9FAFC;
}
.formulario{
    display: flex;
    justify-content: center;

}
label{
    display: flex;
    flex-direction: column;
}
.persona{
    display: flex;
    padding-bottom: 2em;
    align-items: center;
}
.persona-email{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.imagen{
    position: absolute;
    background-color: transparent;
    padding-left: 0.5em;
}
.email{
    padding: 1rem 2.6rem ;
    width: 22em;
    border: 0;
    background-color: #EEEEEE;
    border-radius: 10px;
}
.btn-form{
    width: 100%;
    padding: 0.4em 0; 
    text-align: center;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
}
.btn-form{
    width: 100%;
    padding: 0.4em 0; 
    text-align: center;
    letter-spacing: 0.5px;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: all 250ms;
}
.btn-form:hover{
    background-color: transparent;
    color: #010101;
}
.regi{
    padding-top: 1em;
    display: flex;
    transition: all 500ms;
    justify-content: center;
}
.preg{
    color: gray;
}
a{
    text-decoration: none;
    padding-left: 0.5em;
    color: black;
}
.metodos{
    color: gray;
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}
.opcio{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;

}
.facebook i,
.google i{
    font-size: 1.5rem;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-enlace{
    background-color: #6AAAFB;
    border: 1px solid #6AAAFB;
    padding: 0.6rem 1.9rem;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition: all 250ms;
    width: 19.6rem;
}
.google-enlace:hover{
    background-color: transparent;
    color: #6AAAFB;
}
.google-enlace:hover.google i{
    color: #6AAAFB;
}
.regi a:hover{
    text-decoration: underline 1px solid black;
    transition: 500ms;
}
/*==== FIN SIGN-UP - LOG-IN====== */



/*======FIN MEDIA-QUERIES======= */
.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    position: absolute;
    top: -0.3rem;
    right: -0.4rem;
    font-size: 12px;
}
.badge:hover {
    background-color: red;
    color: white;
}


::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #aed882; /* Color del pulgar */
    border-radius: 10px; /* Borde redondeado del pulgar */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #779e4c; /* Cambia el color del pulgar al pasar el ratón */
}
::-webkit-scrollbar-track {
    background-color: #E5F1D9; /* Color de fondo de la barra de desplazamiento */
}