/*==== SIGN-UP - LOG-IN====== */
*{
    margin: 0;
    padding: 0;
}
a,
p{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    padding-left: 0.5em;
    color: black;
}
.ingreso {
    display: flex;
}
.logo{
    padding-bottom: 1em;
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
}
.img{
    background-color: #E5F1D9;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ensa{
    width: 24em;
    height: 24em;
    background-color: transparent;
    border: 15px solid #83B64D;
    border-radius: 670px;
}
.partedos{
    width: 60%;
}
.partedos h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
.iniciar{
    padding: 4.5em 0em 1em;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.regi{
    padding-top: 1em;
    display: flex;
    transition: all 500ms;
    justify-content: center;
}
.preg{
    color: gray;
}
.opcio{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;

}
.google i{
    font-size: 1.9rem;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-enlace{
    background-color: #6AAAFB;
    border: 1px solid #6AAAFB;
    padding: 1rem 2.2rem;
    border-radius: 10px;
    color: white;
    font-size: 2.2rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition: all 250ms;
    width: 19.6rem;
}
.registro-separador{
    margin:2px 0px 0px 8px;
    font-size: 1rem;
}
.google-enlace:hover{
    background-color: transparent;
    color: #6AAAFB;
}
.google-enlace:hover.google i{
    color: #6AAAFB;
}
.regi a:hover{
    text-decoration: underline 1px solid black;
    transition: 500ms;
}
/*==== FIN SIGN-UP - LOG-IN====== */
/* SECTOR MEDIA-QUERIES */

@media (max-width:1150px){
    .ensa{
        width: 22rem;
        height: 22rem;
        border: 13px solid #83B64D;
    }
}
@media (max-width:1000px){
    .ensa{
        width: 20rem;
        height: 20rem;
        border: 10px solid #83B64D;
    }
}

@media(max-width:1024px){
    .ingreso{
        flex-direction: column;
    }
    .partedos{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        bottom: 3rem;
    }
    .logo{
        font-size: 4rem;
        margin-top: 4rem;
    }
    .img{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12rem;
        width: 100%;
        height: 20vh;
    }
    .ensa{
        width: 9em;
        height: 9em;
        border: 9px solid #83B64D;
    }
    h1{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .iniciar{
        width: 10em;
    }
    .google-enlace{
        width:13em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .regi{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24.5em;
    }
}
@media (max-width:600px) {
    .img{
        gap: 7rem;
    }
    .logo{
        font-size: 3.5rem;
    }
    .ensa{
        width: 8em;
        height: 8em;
        border: 7px solid #83B64D;
    }
    .google-enlace{
        width:11em;
    }
}
@media (max-width:490px) {
    .img{
        gap: 6rem;
    }
    .logo{
        font-size: 3.5rem;
    }
    .ensa{
        width: 8em;
        height: 8em;
        border: 7px solid #83B64D;
    }
    .google-enlace{
        width:9em;
    }
}
@media(max-width:437px){
    .img{
        gap: 4rem;
    }
    .logo{
        font-size: 3rem;
        margin-top: 3rem;
    }
    .ensa{
        width: 8em;
        height: 8em;
        border: 7px solid #83B64D;
    }
    .google-enlace{
        width:8em;
    }
}
@media(max-width:400px){
    .img{
        gap: 4rem;
        height: 18vh;
    }
    .logo{
        font-size: 2.5rem;
        margin-top: 3rem;
    }
    .ensa{
        width: 7em;
        height: 7em;
        border: 5px solid #83B64D;
    }
    .google-enlace{
        width:6em;
    }
    .regi p,
    .regi a{
        font-size: 0.8rem;
    }
}
@media(max-width:360px){
    .img{
        gap: 3rem;
        height: 23vh;
    }
    .logo{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .ensa{
        width: 6em;
        height: 6em;
    }
    .google-enlace{
        width:6em;
        padding: 0.9rem;
    }
    .regi p,
    .regi a{
        font-size: 0.8rem;
    }
    .iniciar h1{
        font-size: 3rem;
    }
}