/*==== SIGN-UP - LOG-IN====== */
*{
    margin: 0;
    padding: 0;
}
a,
p{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    padding-left: 0.5em;
    color: black;
}
.ingreso {
    display: flex;
}
.logo{
    padding-bottom: 1em;
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
}
.img{
    background-color: #E5F1D9;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ensa{
    width: 24em;
    height: 24em;
    background-color: transparent;
    border: 15px solid #83B64D;
    border-radius: 670px;
}
.partedos{
    width: 60%;
}
.partedos h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}
.iniciar{
    padding: 4.5em 0em 1em;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.regi{
    padding-top: 1em;
    display: flex;
    transition: all 500ms;
    justify-content: center;
}
.preg{
    color: gray;
}
.opcio{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;

}
.google i{
    font-size: 1.9rem;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-enlace{
    background-color: #6AAAFB;
    border: 1px solid #6AAAFB;
    padding: 1rem 2.2rem;
    border-radius: 10px;
    color: white;
    font-size: 2.2rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition: all 250ms;
    width: 19.6rem;
}
.registro-separador{
    margin:2px 0px 0px 8px;
    font-size: 1rem;
}
.google-enlace:hover{
    background-color: transparent;
    color: #6AAAFB;
}
.google-enlace:hover.google i{
    color: #6AAAFB;
}
.regi a:hover{
    text-decoration: underline 1px solid black;
    transition: 500ms;
}
/*==== FIN SIGN-UP - LOG-IN====== */
