
<!-- SECCION OPCIONES -->
        <section class="seccion-opciones">
            <div class="contenedor-opciones">
                <div class="tarjeta">
                    <img src="Chicken Burger.jpg" alt="">
                    <div class="tarjeta-textos">
                        <h2>Hamburguesa</h2>
                        <p>Esta es una excelente hamburguesa de pollo y muy saludable.</p>
                        <div class="opciones-comprar">
                            <p>$2.250</p>
                            <button>Comprar Ahora</button>
                        </div>
                    </div>
                    
                </div>
                <div class="tarjeta">
                    <img src="Pizza.jpg" alt="">
                    <div class="tarjeta-textos">
                        <h2>Pizza Margherita</h2>
                        <p>Esta es una excelente pizza margherita y una elecci칩n cl치sica y saludable.</p>
                        <div class="opciones-comprar">
                            <p>$2.250</p>
                            <button>Comprar Ahora</button>
                        </div>
                    </div>
                </div>
                <div class="tarjeta">
                    <img src="Paella.jpg" alt="">
                    <div class="tarjeta-textos">
                        <h2>Paella</h2>
                        <p>Esta es un excelente paella con mariscos y una elecci칩n cl치sica y saludable.</p>
                        <div class="opciones-comprar">
                            <p>$2.250</p>
                            <button>Comprar Ahora</button>
                        </div>
                    </div>
                    
                </div>
                <div class="tarjeta">
                    <img src="Postre.jpg" alt="">
                    <div class="tarjeta-textos">
                        <h2>Panqueques</h2>
                        <p>Estos son unos excelentes panqueques de frutilla con crema, un postre clasico.</p>
                        <div class="opciones-comprar">
                            <p>$2.250</p>
                            <button>Comprar Ahora</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FIN SECCION OPCIONES -->