<%- include('../partials/head.ejs') -%>
<section class='elegirnos'>
    <div class="contenedor-elegirnos">
        <div class='textos-elegirnos'>
            <h1>¿POR QUÉ ELEGIRNOS?</h1>
            <p>Nos elegirá porque obtendrá de nosotros alimentos de la mejor calidad y los entregamos rápidamente.</p>
        </div>
        <div class="motivos">
            <div class="motivo">
                <img src="/icons8-ensalada-64.png" alt=""/>
                <h2>Comida sana</h2>
                <p>Aqui servimos comida sana. Usted puede elegir cualquier alimento que le guste.</p>
            </div>

            <div class="motivo">
                <img src="/icons8-carpeta.svg" alt=""/>
                <h2>La mejor calidad</h2>
                <p>La calidad de nuestra comida es excelente. Aqui obtendra exactamente lo que desea.</p>
            </div>

            <div class="motivo">
                <img src="/icons8-fast-delivery-64.png" alt=""/>
                <h2>Entrega rapida</h2>
                <p>Se puede decir que el principal objetivo de nuestro repartidor es entregar los pedidos rapidamente.</p>
            </div>
        </div>
    </div>
</section>